p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  margin: 0;
  text-decoration: none;
}
button {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  cursor: url(/src/images/globals/cursor.svg) 16 16, auto;
  font-family: var(--mainFont);
  background-color: var(--bodyBackgroundColor);
}

*:focus,
*:hover {
  cursor: url(/src/images/globals/cursor.svg) 16 16, auto;
}
