// paleta kolorów, czcionki

$mainFont: 'Montserrat', sans-serif;

$TitleFont: 'Seymour One', sans-serif;

$Colors: (
  'bodyBackgroundColor': rgba(132, 161, 120, 1),
  'yellowColor': rgba(248, 210, 78, 1),
  'blackColor': rgba(19, 19, 19, 1),
  'grayColor': rgba(19, 19, 19, 1),
  'whiteFontColor': rgba(252, 252, 252, 1),
  'productsIceCream': rgba(174, 198, 165, 1),
  'productsIceCoffe': rgba(239, 212, 120, 1),
  'productsMilkshakes': rgba(214, 147, 109, 1),
);
@function getColors($key) {
  @return map-get($Colors, $key);
}

$fontSizes: (
  'xs': 14px,
  's': 16px,
  'm': 30px,
  'l': 36px,
  'xl': 38px,
  'xxl': 46px,
  'xxxl': 58px,
);

@function getFontSize($key) {
  @return map-get($fontSizes, $key);
}
// paleta kolorów, czcionki

$mainFont: 'Montserrat', sans-serif;

$TitleFont: 'Seymour One', sans-serif;

$Colors: (
  'bodyBackgroundColor': rgba(132, 161, 120, 1),
  'yellowColor': rgba(248, 210, 78, 1),
  'blackColor': rgba(19, 19, 19, 1),
  'grayColor': rgba(19, 19, 19, 1),
  'whiteFontColor': rgba(252, 252, 252, 1),
  'productsIceCream': rgba(174, 198, 165, 1),
  'productsIceCoffe': rgba(239, 212, 120, 1),
  'productsMilkshakes': rgba(214, 147, 109, 1),
);
@function getColors($key) {
  @return map-get($Colors, $key);
}

$fontSizes: (
  'xs': 14px,
  's': 16px,
  'm': 30px,
  'l': 36px,
  'xl': 38px,
  'xxl': 46px,
  'xxxl': 58px,
);

@function getFontSize($key) {
  @return map-get($fontSizes, $key);
}
