.about {
  color: var(--whiteFontColor);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
  font-family: var(--mainFont);
  background: var(--bodyBackgroundColor);
}

.about-container {
  padding-top: 61px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .about-container {
    padding-left: 32px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .about-container {
    padding-bottom: 146px;
  }
}

.about-tradition {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .about-tradition {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 1200px) {
  .about-tradition {
    line-height: 1.2;
    letter-spacing: 0.08em;
  }
} 


.about-title {
  font-family: var(--TitleFont);
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  display: flex;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .about-title {
    font-size: 34px;
    letter-spacing: 0.13;
    max-width: 454px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .about-title {
    line-height: 1.3;
    letter-spacing: 0.06em;
    max-width: 481px;
  }
}

@media screen and (min-width: 768px) {
  .about-double-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .about-double-list {
    column-gap: 109px;
  }
}

.about__img--wrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 279px;
  height: 278px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}

@media screen and (min-width: 768px) {
  .about__img--wrapper {
    border-radius: 165px;
    width: 330px;
    height: 330px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%), #D9D9D9;
    box-shadow: 0px 5.30813px 19.90548px 0px rgba(153, 114, 23, 0.25);
    margin-top: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .about__img--wrapper {
    margin-top: 82px;
    width: 490px;
    height: 490px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%), #D9D9D9;
    box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
  }
}

.about-img {
  position: absolute;
  top: 22px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .about-img {
    top: 26px;
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .about-img {
    width: 490px;
    height: 490px;
    top: 39px;
  }
}



@media screen and (min-width: 768px) {
  .about-list {
    margin-top: 80px;
    text-align: left;
    max-width: 334px;
    line-height: 1.8;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    margin-top: 172px;
    width: 463px;
  }
}

.about-text {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 4px;
  letter-spacing: 0.03em;
}


@media screen and (min-width: 768px) {
  .about-text {
    text-align: left;
    min-width: 334px;
    line-height: 1.8;
    margin-bottom: 8px;
  }
  .about-text:last-child {
    line-height: 1.9;
  }
}

@media screen and (min-width: 1200px) {
  .about-text {
    min-width: 463px;
    letter-spacing: 0.04;
    line-height: 1.8;
    font-size: 14px;
  }
}


.about-btn {
  background-color: var(--yellowColor);
  max-width: 164px;
  height: 42px;
  color: var(--blackColor);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
  padding: 12px 34px;
  line-height: 1.4;
  font-size: 14px;
  margin-top: 24px;
}

.about-btn:hover {
  background-color: rgba(10, 136, 23, 1);
}

.about-btn:focus-within {
  color: rgba(252, 252, 252, 1);
  fill: var(--whiteFontColor);
  background-color: rgba(10, 136, 23, 1);
}

.about-btn svg {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .about-btn {
    margin-left: 0;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .about-btn {
    margin-top: 54px;
  }
}

.about-close-btn {
  position: absolute;
  border: none;
  background-color: var(--whiteFontColor);
}

.about-close-svg {
  position: absolute;
  top: 12px;
  left: 248px;
}

@media screen and (min-width: 1200px) {
  .about-close-btn {
    left: 288px;
  }
}

.about-modal {
  top: 50%;
  left: 50%;
  z-index: 2;
  border: 2px solid var(--yellowColor);
  width: 280px;
  min-height: 459px;
  border-radius: 10px;
  position: fixed;
  background-color: var(--whiteFontColor);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .about-modal {
    width: 568px;
    min-height: 449px;
    
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.about-iframe {
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-box {
  box-sizing: border-box;
  background-color: var(--whiteFontColor);
  cursor: initial;
  margin: 0 auto;
  padding: 28px;
  line-height: 1.5;
  color: var(--blackColor);
}

@media screen and (min-width: 1200px) {
  .about-box {
    line-height: 1.4;
    padding: 32px 60px;
  }
  .about-iframe {
    width: 448px;
    min-height: 205px;
    margin-bottom: 32px;
  }
}


.about-modal-title {
  font-family: var(--TitleFont);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .about-modal-title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.about-modal-text {
  font-family: var(--mainFont);
  font-size: 14px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .about-modal-text {
    font-size: 16px;
  }
}