.contacts {
  justify-content: center;
  background: var(--bodyBackgroundColor);
}

.contacts-wrapper {
  margin-top: 44px;
}

.locations-data {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  gap: 16px;
}

.locations-data li {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.location-info {
  background: var(--whiteFontColor);
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.location-wrapper {
  margin: 44px 32px 24px 32px;
}

.location-type {
  display: inline;
  background-color: var(--yellowColor);
  vertical-align: middle;
  padding: 4px 22px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  border-radius: 4px;
  margin: 0 auto auto 0;
}

.city-name {
  line-height: 1.86;
  letter-spacing: 0.03em;
  margin-top: 24px;
}

address {
  color: var(--productsMilkshakes);
  font-style: normal;
  line-height: 1.83;
  letter-spacing: 0.03em;
  margin-top: 8px;
  max-width: 212px;
  margin-bottom: 24px;
}

.chicago-address {
  max-width: 190px;
}

.hours {
  color: rgba(171, 171, 171, 1);
}

.opening-hours {
  line-height: 1.86;
}

.opening-weekdays {
  padding-top: 24px;
  border-top: 1px solid rgba(225, 225, 225, 1);
}

.opening-weekends {
  margin-bottom: 24px;
  margin-top: 8px;
}

.contact-details {
  padding-top: 18px;
  border-top: 1px solid rgba(225, 225, 225, 1);
}

.phone-and-mail a {
  color: var(--blackColor);
  line-height: 1.6;
  margin-top: 6px;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .locations-data {
    flex-direction: row;
    gap: 16px;
    max-width: 705px;
  }

  .location-info {
    width: 224px;
  }

  .locations-data li {
    font-size: 14px;
  }

  .location-type {
    padding: 4px 13px;
  }

  .city-name {
    margin-top: 36px;
  }

  address {
    line-height: 1.83;
    letter-spacing: 0.035em;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .opening-weekdays {
    padding-top: 32px;
  }

  .opening-weekends {
    margin-bottom: 32px;
  }

  .contact-details {
    padding-top: 28px;
  }

  .phone-and-mail a {
    line-height: 1.5;
    margin-top: 4px;
  }

  .location-wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .locations-data {
    gap: 32px;
    max-width: 1168px;
  }

  .location-info {
    width: 368px;
  }

  .locations-data li {
    font-size: 16px;
  }

  .location-type {
    padding: 4px 14px;
  }

  address {
    letter-spacing: 0.04em;
    margin-top: 8px;
  }

  .chicago-address {
    max-width: 262px;
  }

  .la-adddress {
    max-width: 288px;
  }

  .ny-address {
    max-width: 261px;
  }
}
