.hero {
  background-color: rgba(132, 161, 120, 1);
}
.hero__container {
  background-color: rgba(132, 161, 120, 1);
  background-image: url(../../images/hero/dots_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 98%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1 fr 1fr;
  padding: 0;
  justify-content: space-between;
}
@media (max-width: 479px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    background-image: url(../../images/hero/kropki_mobile.png);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hero__container {
    background-image: url(../../images/hero/kropki_mobile.png);
    background-position: 120% 98%;
    background-size: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero__container {
    background-image: url(../../images/hero/kropki_tablet.png);
    background-position: 0% 98%;
    background-size: 100%;
  }
}
/* hero-left */
.hero-left__container {
  margin-top: 30px;
}
.hero-left__title {
  width: 367px;
  font-size: 38;
  color: #fcfcfc;
  font-family: Seymour One, sans-serif;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .hero-left__title {
    font-size: 26px;
    line-height: 1.03;
    width: 247px;
  }
}
@media (max-width: 1200px) {
  .hero-left__title--passion {
    font-size: 34px;
    line-height: 1.03;
  }
}
.hero-left__navigation-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.hero-left__link-button,
.hero-left__demo-link {
  text-decoration: none;
}
.hero-left__button {
  cursor: pointer;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f8d24e;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 134px;
  height: 42px;
  border-radius: 10px;
  padding: 11px 26px;
  font-size: 12px;
  line-height: 1.25;
}
.hero-left__navigation-item {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .hero-left__button {
    width: 108px;
    height: 38px;
  }
}
.hero-left__button:hover {
  border-color: rgba(10, 136, 23, 1);
}

.hero-left__button:focus {
  border-color: rgba(10, 136, 23, 1);
  color: rgba(252, 252, 252, 1);
}
.hero-left__button:disabled {
  border-color: rgba(171, 171, 171, 1);
}

.hero-left__link-text {
  color: #f8d24e;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
}
.hero-left__demo-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 42px;
  margin-bottom: 65px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-left__demo-list {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-left__demo-item {
    font-size: 12px;
  }
}
.hero-left__demo-item {
  /* margin: 70px 0 auto 20px; */
  display: flex;
  align-items: center;
}
.hero-left__demo-text {
  width: 200px;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  font-family: Montserrat, sans-serif;
  margin-bottom: 29px;
  margin-left: 32px;
}
.hero-left__demo-vector {
  fill: #fff;
  margin-left: 32px;
}

/* hero-right */
.hero-right__container {
  display: flex;
  flex-direction: row;
  /* /* position: absolute; */
}
.hero-right__counter-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.hero-right__counter-number {
  margin: 50% auto;
  font-size: 46px;
  color: #131313;
  font-weight: 900;
  line-height: 4%;
}
.hero-right__counter-desc {
  font-size: 14px;
  color: #fcfcfc;
  letter-spacing: 0%;
  line-height: auto;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .hero-right__counter-list,
  .hero-left__demo-item {
    display: none;
  }
}

@media (max-width: 478px) {
  .hero-ice {
    width: 177px;
    height: 217px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hero-ice {
    width: 218px;
    height: 267px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hero-ice {
    width: 268px;
    height: 329px;
  }
}
@media (max-width: 479px) {
  .hero-picture {
    margin-left: 83px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .hero-picture {
    display: flex;
    align-items: baseline;
    margin-left: 27px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hero-right__container {
    display: grid;
    justify-content: right;
    margin-top: 70px;
  }
}
.ice-palet {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .ice-palet {
    width: 152px;
    height: 152px;
  }
}
/* @media (min-width: 768px) {
  .grid {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid {
    display: grid;
  }
} */
