.products {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/products/background-mobile@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../../images/products/background-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url(../../images/products/background-tablet@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products {
      background-image: url(../../images/products/background-tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../../images/products/background-desktop@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products {
      background-image: url(../../images/products/background-desktop@2x.jpg);
    }
  }
}
.products--wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 61px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .products--wrapper {
    max-width: 480px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .products--wrapper {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .products--wrapper {
    max-width: 1200px;
  }
}
.products__label {
  color: var(--blackColor);
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
  }
}
.products__title {
  color: var(--blackColor);
  text-align: center;
  font-family: var(--TitleFont);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;
}
@media screen and (min-width: 480px) {
  .products__title {
    margin-bottom: 145px;
  }
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 34px;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 168px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .products__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 29px;
  }
}
.products__item {
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  min-height: 420px;
  text-align: center;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 480px) {
  .products__item {
    flex-basis: 320px;
    min-height: 428px;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 32px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    flex-basis: calc((100% - 58px) / 3);
    min-height: 536px;
  }
}
.products__item--ice {
  position: relative;
  background-color: var(--productsIceCream);
}

.products__item--ice::before {
  content: '';
  background-color: var(--productsIceCream);
  background-image: url(../../images/products/ice-mobile@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice::before {
    background-image: url(../../images/products/ice-mobile@2x.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    position: absolute;
    background-color: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7) 0%,
        rgba(156, 190, 143, 0.7) 100%
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
    top: -108px;
    left: 40px;
    width: 200px;
    height: 211px;
  }
}
@media screen and (min-width: 480px) {
  .products__item--ice::before {
    top: -105px;
    left: 60px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--ice::before {
    top: -120px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--ice::before {
    top: -183px;
    left: 34px;
    background-image: url(../../images/products/ice-desktop@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--ice::before {
      background-image: url(../../images/products/ice-desktop@2x.png);
    }
  }
}


.products__item--coffee {
  position: relative;
  background-color: var(--productsIceCoffe);
}
.products__item--coffee::before {
  content: '';
  background-color: var(--productsIceCoffe);
  background-image: url(../../images/products/coffee-mobile@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--coffee::before {
    background-image: url(../../images/products/coffee-mobile@2x.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    position: absolute;
    background-color: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7) 0%,
        rgba(248, 210, 78, 0.7) 100%
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
    top: -108px;
    left: 40px;
    width: 200px;
    height: 211px;
  }
}
@media screen and (min-width: 480px) {
  .products__item--coffee::before {
    top: -105px;
    left: 60px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--coffee::before {
    top: -120px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--coffee::before {
    top: -183px;
    left: 34px;
    background-image: url(../../images/products/coffee-desktop@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--coffee::before {
      background-image: url(../../images/products/coffee-desktop@2x.png);
    }
  }
}
.products__item--shake {
  position: relative;
  background-color: var(--productsMilkshakes);
}
.products__item--shake::before {
  content: '';
  background-color: var(--productsMilkshakes);
  background-image: url(../../images/products/shake-mobile@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--shake::before {
    background-image: url(../../images/products/shake-mobile@2x.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    position: absolute;
    background-color: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7) 0%,
        rgba(213, 117, 63, 0.7) 100%
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    top: -108px;
    left: 40px;
    width: 200px;
    height: 211px;
  }
}
@media screen and (min-width: 480px) {
  .products__item--shake::before {
    top: -105px;
    left: 60px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--shake::before {
    top: -120px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--shake::before {
    top: -183px;
    left: 34px;
    background-image: url(../../images/products/shake-desktop@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--shake::before {
      background-image: url(../../images/products/shake-desktop@2x.png);
    }
  }
}
.products__item--card {
  flex-grow: 1;
}
.products__item--title {
  color: var(--blackColor);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 123px;
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) {
  .products__item--title {
    margin-top: 126px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--title {
    font-size: 22px;
    margin-top: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--title {
    font-size: 30px;
    margin-top: 165px;
    margin-bottom: 66px;
  }
}
.products__item--description {
  color: var(--blackColor);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (min-width: 480px) {
  .products__item--description {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--description {
    margin-left: 26px;
    margin-right: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--description {
    font-size: 16px;
    margin-left: 64px;
    margin-right: 64px;
  }
}
.products__item--btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .products__item--btn {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--btn {
    margin-bottom: 60px;
  }
}
