<sectiion class="about">
  <div class="container about-container">
    <p class="about-tradition">tradition and love</p>
    <h2 class="about-title">how it’s made?</h2>
    <img
      class="about-img"
      src="../images/about/about-cow.jpg"
      alt="happy-cow-on-the-meadow"
      width="300"
      height="278"
      srcset="../images/about/about-cow@2x.jpg"
    />
    <ul>
      <li>
        <p class="about-text">
          Ice is a place where you will become not only a little happier, but also healthier. Health
          is the main value for us, and we follow it when creating our handmade desserts.
        </p>
      </li>
      <li>
        <p class="about-text">
          We use traditional recipes and 100% natural ingredients. Our products are so natural that
          they can be given to children from the age of three years. Sweets lovers can expect 55
          types of ice cream, 15 types of coffee and 23 milkshakes.
        </p>
      </li>
      <li>
        <p class="about-text">This is enough to choose ice cream and coffee for any mood!</p>
      </li>
    </ul>
    <button class="about-btn" type="button" data-modal-open>
      Read more
      <svg class="about-svg" width="12px" height="12px">
        <use href="../images/about/about.svg#icon-arrow"></use>
      </svg>
    </button>

    <div class="modal is-hidden" data-modal>
      <div>
        <button class="about-close-btn" type="button" data-modal-close>
          <svg class="about-close-svg" width="18" height="18" viewBox="0 0 100 100">
            <use href="../images/about/about.svg#close-icon"></use>
          </svg>
        </button>
      </div>
      <div class="box">
        <h2 class="about-modal-title">How it’s made?</h2>
        <iframe
          class="about-modal-frame"
          src="https://www.youtube.com/watch?v=k68Rc_CzlbU"
          width="224px"
          height="199px"
        ></iframe>
        <p class="about-modal-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
      </div>
    </div>
  </div>
</sectiion>
