<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul>
      <li>
        <div>
          <p class="data">721</p>
          <p class="data-desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li>
        <div>
          <p class="data">16kg</p>
          <p class="data-desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li>
        <div>
          <p class="data">84</p>
          <p class="data-desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
