<div class="button-contact"> 
    <button class="button-contact__out-locations" locations-data-modal-open> 
        <span>Our locations</span> 
        <svg><use href="/src/images/contacts/button-contact-icon.svg#icon-ep_arrow-right-bold"></use></svg>
    </button> 
    <button class="button-contact__franchise" franchise-data-modal-open>  
        <span class="text-franchise">Franchise</span> 
        <svg class="icon-contact"><use href="/src/images/contacts/button-contact-icon.svg#icon-ep_arrow-right-bold"></use></svg> 
    </button>
</div> 
