<section class="contacts">
  <div class="container">
    <div class="contacts-wrapper">
      <h2 class="visually-hidden">contacts</h2>
      <ul class="locations-data">
        <li class="location-info">
          <div class="location-wrapper">
            <p class="location-type">CAFE</p>
            <ul>
              <li class="address">
                <p class="city-name">Chicago</p>
                <address class="chicago-address">
                  10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                </address>
              </li>
              <li class="opening-hours">
                <ul>
                  <li class="opening-weekdays">
                    <p>Monday - Friday</p>
                    <p class="hours">06:00 AM - 10:00 PM</p>
                  </li>
                  <li class="opening-weekends">
                    <p>Saturday - Sunday</p>
                    <p class="hours">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contact-details">
                <ul class="phone-and-mail">
                  <li>
                    <a href="tel:+610383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="location-info">
          <div class="location-wrapper">
            <p class="location-type">FOOD TRUCK</p>
            <ul>
              <li class="address">
                <p class="city-name">Los Angeles</p>
                <address class="la-address">
                  1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                </address>
              </li>
              <li class="opening-hours">
                <ul>
                  <li class="opening-weekdays">
                    <p>Monday - Friday</p>
                    <p class="hours">06:00 AM - 10:00 PM</p>
                  </li>
                  <li class="opening-weekends">
                    <p>Saturday - Sunday</p>
                    <p class="hours">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contact-details">
                <ul class="phone-and-mail">
                  <li>
                    <a href="tel:+610383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="location-info">
          <div class="location-wrapper">
            <p class="location-type">CAFE</p>
            <ul>
              <li class="address">
                <p class="city-name">New York</p>
                <address class="ny-address">726 Sterling Pl, Brooklyn, NY 11222, USA</address>
              </li>
              <li class="opening-hours">
                <ul>
                  <li class="opening-weekdays">
                    <p>Monday - Friday</p>
                    <p class="hours">06:00 AM - 10:00 PM</p>
                  </li>
                  <li class="opening-weekends">
                    <p>Saturday - Sunday</p>
                    <p class="hours">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contact-details">
                <ul class="phone-and-mail">
                  <li>
                    <a href="tel:+610383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
