<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <ul>
      <li>
        <p>CAFE</p>
        <ul>
          <li class="address">
            <p>Chicago</p>
            <address>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
          </li>
          <li class="opening-hours">
            <ul>
              <li class="opening-weekdays">
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li class="opening-weekends">
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-details">
            <ul>
              <li>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <p>FOOD TRUCK</p>
        <ul>
          <li class="address">
            <p>Los Angeles</p>
            <address>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</address>
          </li>
          <li class="opening-hours">
            <ul>
              <li class="opening-weekdays">
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li class="opening-weekends">
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-details">
            <ul>
              <li>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <p>CAFE</p>
        <ul>
          <li class="address">
            <p>New York</p>
            <address>726 Sterling Pl, Brooklyn, NY 11222, USA</address>
          </li>
          <li class="opening-hours">
            <ul>
              <li class="opening-weekdays">
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li class="opening-weekends">
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-details">
            <ul>
              <li>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div>
      <button type="button">Our Locations ></button>
      <button type="button">Franchise ></button>
    </div>
  </div>
</section>
