<footer class="bgcolor"> 
  <div class="container-bar">
    <div class="container-footer">
      <p class="footer-ice">homemade ice cream made <span class="passion">with passion</span></p>
      <div class="footer-social-box">
        <ul class="footer-icon">
          <li class="social-icon">
            <svg height="34" width="34">
              <use href="./images/footer/icons.svg#icon-github"></use>
            </svg> 
            <svg class="icon-footer-2" height="34" width="34">
              <use href="/src/images/footer/icon-social-footer.svg#icon-github-2"></use>
            </svg>
          </li>
          <li>
            <svg height="34" width="34">
              <use href="./images/footer/icons.svg#icon-telegram"></use>
            </svg> 
            <svg class="icon-footer-2" height="34" width="34">
              <use href="/src/images/footer/icon-social-footer.svg#icon-telegram-2"></use>
            </svg>
          </li>
          <li>
            <svg height="34" width="34">
              <use href="./images/footer/icons.svg#icon-facebook"></use>
            </svg> 
            <svg class="icon-footer-2" height="34" width="34">
              <use href="/src/images/footer/icon-social-footer.svg#icon-facebook-2"></use>
            </svg>
          </li>
        </ul>
        <p class="footer-contact">
          Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>  
      </div> 
    </div>  
  </div>
  <p class="coppyright">© 2022 - IceCream. <span>All Rights Reserved.</span></p>
</footer>
