<footer class="container bgcolor">
  <p class="footer-ice">homemade ice cream made <span class="passion">with passion</span></p>
  <ul class="footer-icon">
    <li class="social-icon">
      <svg height="34" width="34">
        <use href="./images/footer/icons.svg#icon-github"></use>
      </svg>
    </li>
    <li>
      <svg height="34" width="34">
        <use href="./images/footer/icons.svg#icon-telegram"></use>
      </svg>
    </li>
    <li>
      <svg height="34" width="34">
        <use href="./images/footer/icons.svg#icon-facebook"></use>
      </svg>
    </li>
  </ul>
  <p class="footer-contact">
    Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a>
  </p>
  <p class="coppyright">© 2022 - IceCream. <span>All Rights Reserved.</span></p>
</footer>
