<div class="backdrop__franchise is-hidden" franchise-data-modal>
  <form class="franchise">
    <button class="franchise__close-modal" franchise-data-modal-close>
      <svg class="franchise-close-svg" width="18" height="18" viewBox="0 0 100 100">
        <use href="./images/about/about.svg#close-icon"></use>
      </svg>
    </button>
    <p class="franchise__big-text">Thank you for your interest in owning an Ice Cream shop</p>
    <p class="franchise__small-text">
      Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time. Once the application process resumes, we will contact you for
      further information. Please fill out the contact information below and we will reach out for
      additional information. We appreciate your patience.
    </p>
    <div class="label-franchise">
      <label class="name">
        <input class="input-name" placeholder="Name" type="text" required />
      </label>
      <label class="phone">
        <input class="input-phone" placeholder="Phone" type="tel" required />
      </label>
      <label class="email">
        <input class="input-email" placeholder="Email" type="email" required />
      </label>
      <label class="comment">
        <textarea class="input-comment" placeholder="Comment" rows="5"></textarea>
      </label>
    </div>
    <button class="franchise__submit">Submit</button>
  </form>
</div>
