<section class="hero">
  <div class="hero__container container">
    <div class="hero-left__container">
      <h1 class="hero-left__title">ice cream made with passion</h1>
      <ul class="hero-left__navigation-list">
        <li class="hero-left__navigation-item">
          <a href="#products" class="hero-left__link-button">
            <button type="button" class="hero-left__button">Products</button>
          </a>
        </li>
        <li class="hero-left__navigation-item">
          <a href="#how-its-made" class="hero-left__link-text">How it's made?</a>
        </li>
      </ul>
      <ul class="hero-left__demo-list">
        <li class="hero-left__demo-item">
          <!-- <img
            src="./images/hero/hero-ice-balls-desktop.png"
            alt="three balls ice-cream in cone with fanny smile"
            width="225"
            height="225"
          /> -->
        </li>
        <li class="hero-left__demo-item">
          <a href="#products" class="hero-left__demo-link">
            <p class="hero-left__demo-text">
              You can't buy happiness, but you can buy ice cream, and that's pretty much the same
              thing. The best time for ice cream is always !
            </p>
            <svg class="hero-left__demo-vector" width="40" height="16">
              <use href="./images/hero/icon.svg#icon-arrow_hero"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="hero-right__container">
      <!-- <img
        src="/images/hero/hero-ice-cone-desktop.png"
        alt="three balls ice-cream in cone with fanny smile"
        width="456"
        height="560"
      /> -->
      <ul class="hero-right__counter-list">
        <li class="hero-right__counter-item">
          <p class="hero-right__counter-number">16</p>
          <p class="hero-right__counter-desc">cafes</p>
        </li>
        <li class="hero-right__counter-item">
          <p class="hero-right__counter-number">23</p>
          <p class="hero-right__counter-desc">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>
