<section class="hero">
  <div class="hero__container container">
    <div class="hero-left__container">
      <h1 class="hero-left__title">
        ice cream made with <span class="hero-left__title--passion">passion</span>
      </h1>
      <ul class="hero-left__navigation-list">
        <li class="hero-left__navigation-item">
          <a href="#products" class="hero-left__link-button">
            <button type="button" class="hero-left__button">Products</button>
          </a>
        </li>
        <li class="hero-left__navigation-item">
          <a href="#about" class="hero-left__link-text">How it's made?</a>
        </li>
      </ul>
      <ul class="hero-left__demo-list">
        <li class="hero-left__demo-item grid">
          <picture
            ><source
              media="(min-width: 480px) and (max-width:1199px)"
              srcset="./images/hero/plate-tab@1x.png 1x, ./images/hero/plate-tab@2x.png 2x"
              width="152"
              height="152"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/hero/plate@1x.png 1x, ./images/hero/plate@2x.png 2x"
            />
            <img
              src="./images/hero/plate@1x.png"
              width="225"
              height="225"
              alt="Ice cream balls on the plate"
              class="ice-palet"
            />
          </picture>
        </li>
        <li class="hero-left__demo-item">
          <a href="#products" class="hero-left__demo-link">
            <p class="hero-left__demo-text">
              You can't buy happiness, but you can buy ice cream, and that's pretty much the same
              thing. The best time for ice cream is always !
            </p>
            <svg class="hero-left__demo-vector" width="40" height="16">
              <use href="./images/hero/icon.svg#icon-arrow_hero"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="hero-right__container">
      <picture class="hero-picture"
        ><source
          media="(max-width: 767px)"
          srcset="./images/hero/ice-mobile@1x.png 1x, ./images/hero/ice-mobile@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/hero/ice-tab@1x.png 1x, ./images/hero/ice-tab@2x.png 2x"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./images/hero/ice-desk@1x.png 1x, ./images/hero/ice-desk@2x.png 2x"
          type="image/webp"
        />

        <img
          src="./images/hero/ice-desk@1x.png"
          width="456"
          height="560"
          alt="Smiling ice cream cones"
          class="hero-ice"
        />
      </picture>

      <ul class="hero-right__counter-list">
        <li class="hero-right__counter-item">
          <p class="hero-right__counter-number">16</p>
          <p class="hero-right__counter-desc">cafes</p>
        </li>
        <li class="hero-right__counter-item">
          <p class="hero-right__counter-number">23</p>
          <p class="hero-right__counter-desc">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>
