<section class="hero">
  <div class="hero__container-border">
    <div class="hero__container container">
      <div class="hero-left__container">
        <div class="hero-left__title-and-button">
          <h1 class="hero-left__title">
            ICE CREAM MADE WITH
            <span>PASSION</span>
          </h1>
          <ul class="hero-left__navigation-list">
            <li class="hero-left__navigation-item button-products">
              <a href="#products" class="products-btn">Products</a>
              <!-- <a href="#products" class="hero-left__link-button">
                <button type="button" class="hero-left__button">Products</button>
              </a> -->
            </li>
            <li class="hero-left__navigation-item how-its-made">
              <a href="#about" class="hero-left__link-text">How it's made?</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero-right__number-container">
        <ul class="hero-right__counter-list">
          <li class="hero-right__counter-item">
            <p class="hero-right__counter-number">16</p>
            <p class="hero-right__counter-desc">cafes</p>
          </li>
          <li class="hero-right__counter-item">
            <p class="hero-right__counter-number">23</p>
            <p class="hero-right__counter-desc">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <ul class="hero-left__demo-list">
      <li class="hero-left__demo-item">
        <a href="#products" class="hero-left__demo-link">
          <p class="hero-left__demo-text">
            Indulge in a scoop of ice cream made with passion and treat your taste buds to an
            unforgettable experience!
          </p>
          <svg class="hero-left__demo-vector" width="40" height="16">
            <use href="./images/hero/icon.svg#icon-arrow_hero"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="big-ice">
      <img src="./images/hero/plate@1x.png" alt="miska z lodami" />
    </div>
    <div class="ice-smile">
      <img src="./images/hero/ice-desk@1x.png" alt="uśmiechnięte lody" />
    </div>
    <div class="background-dots"></div>
  </div>
</section>
