<div class="backdrop__maps is-hidden" locations-data-modal>
  <div class="locations">
    <button class="locations__close-modal" locations-data-modal-close>
      <svg class="our-locations-close-svg" width="18" height="18" viewBox="0 0 100 100">
        <use href="./images/about/about.svg#close-icon"></use>
      </svg>
    </button>
    <p class="locations__title">Our Locations</p>
    <div class="locations__maps-picture"></div>
    <a class="locations__open-maps" href="https://goo.gl/maps/51XtvbpdRdxJvyeu7">Open map</a>
  </div>
</div>
