<section class="reviews">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="container-icecream-photo">
          <img
            src="./images/reviews/brooke-lark-8beTH4VkhLI-unsplash.jpg"
            alt="ice cream"
            class="ice-cream-photo"
          />
        </div>
        <div class="customer-wrapper-foto">
          <img
            src="./images/reviews/customer-one-elias-de-carvalho-1375849.jpg"
            srcset="./images/reviews/customer-one-elias-de-carvalho-1375849@2x.jpg 2x"
            alt="customer one"
            width="85"
            height="85"
            class="customer-image"
          />
        </div>
        <div class="customer-wrapper">
          <p class="customer-text">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
        </div>
        <p class="customer-name">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide">
        <div class="container-icecream-photo">
          <img
            src="./images/reviews/courtney-cook-QYsRxRPygwU-unsplash.jpg"
            srcset="./images/reviews/courtney-cook-QYsRxRPygwU-unsplash@2x.jpg 2x"
            alt="ice cream"
            class="ice-cream-photo"
            width="85"
            height="85"
          />
        </div>
        <div class="customer-wrapper">
          <img
            src="./images/reviews/customer-three-nappy-936000.jpg"
            srcset="./images/reviews/customer-three-nappy-936000@2x.jpg"
            alt="customer two"
            width="85"
            height="85"
            class="customer-image"
          />
        </div>
        <div class="customer-wrapper">
          <p class="customer-text">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
        </div>
        <p class="customer-name">Bryan, New-York</p>
      </div>
      <div class="swiper-slide">
        <div class="container-icecream-photo">
          <img
            src="./images/reviews/unsplash_sKM8RK2C-YI.jpg"
            srcset="./images/reviews/unsplash_sKM8RK2C-YI@2x.jpg 2x"
            alt="ice cream"
            class="ice-cream-photo"
          />
        </div>
        <div class="customer-wrapper">
          <img
            src="./images/reviews/customer-two-edu-carvalho-2295192.jpg"
            srcset="./images/reviews/customer-two-edu-carvalho-2295192@2x.jpg"
            alt="customer three"
            width="85"
            height="85"
            class="customer-image"
          />
        </div>
        <div class="customer-wrapper">
          <p class="customer-text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
        </div>
        <p class="customer-name">Diana, Chicago</p>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
